/* CSS for ShowHideTitle.js Component starts here */


.common-container {
    display: flex;
    padding: 10px;
}
.left-content, .right-content {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
.img-container{
    border: 1px dashed gray;
}
.btn-container{
    margin-top: 100px;
    display: flex;

    .show-hide-button {
        margin-top: 40px;
        background-color: rebeccapurple;
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .text-class{
        margin: 40px;
    }
}

/* >>>>>>>> CSS for ShowHideTitle.js Component ends here >>>>>>>>>>>> */




/* ********CSS for Stopwatch.js Component starts here********* */


.element-container {
    text-align: center;
}

.timer-button {
    height: auto;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* .timer-button:hover {
    border: 1px solid black;
} */

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

.reset {
    background-color: yellow;
}

/* >>>>>>>> CSS for Stopwatch.js Component ends here >>>>>>>>>>>> */


/* ********CSS for ToDoList.js Component starts here********* */

.todo-container{
    padding-top: 30px;
    /* text-align: center; */
    height: 30px;
}

.todo-input{
    height: 100%;
    font-size: 16px;
}

.add-item{
    height: 100%;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.list-items{
    display: flex;
}

.remove-btn{
    margin-left: 10px;
}

.display-list{
    /* text-align: center; */
    padding-top: 30px;
}

/* >>>>>>>> CSS for ToDoList.js Component ends here >>>>>>>>>>>> */




/* ********CSS for ProgressBar.js Component starts here********* */



.percent-container{
    margin-top: 30px;
    text-align: center;
}

.percent-input-class{
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.progress-container-main{
    text-align: center;
    width: 300px;
    color: red;
    background-color: #cdcdcd;
    height: 30px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.inner-container{
    background-color: green;
    height: 100%;
    text-align: center;
    place-items: center;
    border-radius: 20px;
    transition: 1.5s ease 0.3s;
    color: white;
   
}


/* >>>>>>>> CSS for ProgressBar.js Component ends here >>>>>>>>>>>> */